%form.form-inline.well{:action => "/login", :method => "post"}
  %input{:autofocus => "", :name => "email", :placeholder => "email"}
  %input{:name => "password", :placeholder => "password", :type => "password"}
    %input.btn.primary{:type => "submit", :value => "Log in"}