- if current_user.errors.any?
  %ul.alert.alert-error
    - @user.errors.full_messages.each do |e|
      %li= e
%form.well(action="/reset_password" method="post")
  %h2 Reset password
  %label
    Current password:
    %input#username{type: "password", name: "current_password", required: true}
  %label
    New password:
    %input#password{type: "password", name: "password", required: true}
  %label
    Confirm new password:
    %input#password{type: "password", name: "password_confirmation", required: true}
  %br
  %input.btn.btn-large(type="submit" value="Submit")
